<div class="ppq-inner component-inner" role="region" aria-label="{{_accessibility._ariaRegions.ppq}}">
    {{> component this}}
    <div class="ppq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    	<div class="ppq-pinboard-container">
    		<div class="ppq-pinboard-container-inner">

    			{{#if _developerMode}}
	    			{{#each _items}}
	    				{{#if ../../desktopLayout}}
				    		<div class="ppq-correct-zone" style="left:{{desktop.left}}%; bottom:{{desktop.bottom}}%; width:{{desktop.width}}%; height:{{desktop.height}}%;"></div>
				    	{{else}}
				    		<div class="ppq-correct-zone" style="left:{{mobile.left}}%; bottom:{{mobile.bottom}}%; width:{{mobile.width}}%; height:{{mobile.height}}%;"></div>
				    	{{/if}}
	      			{{/each}}
    			{{/if}}

    			{{#if desktopLayout}}
    				<img class="ppq-pinboard {{#if _developerMode}}developer-mode{{/if}}" src="{{_pinboardDesktop.src}}" title="{{_pinboardDesktop.title}}" alt="{{_pinboardDesktop.title}}"/>
    			{{else}}
    				<img class="ppq-pinboard {{#if _developerMode}}developer-mode{{/if}}" src="{{_pinboardMobile.src}}" title="{{_pinboardMobile.title}}" alt="{{_pinboardMobile.title}}"/>
    			{{/if}}

    			{{#each _items}}
			    	<div class="ppq-pin" data-id="item-{{@index}}">
			    		<div class="ppq-icon ppq-pin-icon icon icon-pin"></div>
			    		<div class="ppq-icon ppq-correct-icon icon icon-tick"></div>
			    		<div class="ppq-icon ppq-incorrect-icon icon icon-cross"></div>
			    	</div>
      			{{/each}}

    		</div>
    	</div>
    </div>
    <div>
        <div class="buttons">
        </div>
        <button class="button ppq-reset-pins">
            <span>
                {{{_buttons.resetPins}}} 
            </span>
        </button>
    </div>
</div>
